header {
  position: relative;
  width: 100%;
}

.navbar-container {
  height: var(--size-900);
  background-color: var(--clr-accent-900);
  margin-inline: auto;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.5rem;
}

.logo {
  max-width: var(--size-800);
}

.menu a {
  text-decoration: none;
  padding: 1.5rem;
  color: var(--clr-neutral-100);
  font: var(--ff-primary);
}

.menu {
  font-size: var(--fs-nav);
}

.vertical-menu {
  display: grid;
}

.img-container {
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-cart {
  color: var(--clr-neutral-100);
}

@media (max-width: 50em) {
  .menu {
    font-size: var(--fs-300);
  }
  .menu a {
    padding: 0.5rem;
  }
}
