.pl-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.pl-item {
  display: block;
  border: 1px solid #000;
}

.pl-image {
  border: 2px solid chocolate;
  gap: 1rem;
}
