.footer-columns {
  display: grid;
  gap: 1rem;
}

.footer-text-color {
  color: beige;
}

.icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon-item {
  margin: 1rem;
}

.links-wrapper {
  display: grid;
  gap: 0.875rem;
}

.buttom {
  background-color: black;
  font-size: var(--fs-600);
}

@media (min-width: 50em) {
  .footer-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
